
body {
  font-family: 'Poppins', sans-serif;
  background-color: #efe9ae;
  margin: 0;
}

h1 {
  margin: 0;
}

/* Navigation Bar  */
/* need to style the burger icon when it pops up */

#top-bar {
  font-family: 'Poppins', sans-serif;
  background-color: #fff1e6;
}

.container-fluid {
  padding: 0% 8%;
}

.icon {
  color: black;
  padding: 5px;
}

/* change hover color, maybe it underlines the icon */
.icon:hover, .resume:hover {
  /* color: gray; */
  border-bottom: 3px solid #F6Af57;
}

.resume {
  color: black;
  font-size: 1.33rem;
  font-weight: 900;
}

.nav-item {
  margin: auto;
  padding: 15px;
}

.abdul-pic {
    height: auto;
    width: auto;
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
}

/* Introduction Bar  */

#introduction-bar {
  /* background-color: #ee8073; */
  background-color: #cddafd;
  text-align: center;
  padding: 250px 0px;
}

.sentence1 {
  padding: 150px 0 20px;
  color: #C5CBE3;
}

.sentence2 {
  padding: 20px 0 260px;
  color: #C5CBE3;
  font-weight: bold;
}

/* Horizontal  */

hr {
  margin: 100px auto;
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 5%;
}

/* Description */

#dfg-project {
  text-align: center;
  background-color: #bee1e6;
  font-family: 'Poppins', sans-serif;
  line-height: 1;
  color: white;
}

#rendezview-project {
  text-align: center;
  background-color: #dfe7fd;
  font-family: 'Poppins', sans-serif;
  line-height: 1;
  color: white;
}



.typewrite {
  font-size: 50px;
  color: white;
  text-decoration: none;
  margin: 0 auto;
  padding: 40px 0;
}

.typewrite > .wrap {
  animation: blink-caret 1s step-end infinite;
  border-right: 0.08em solid #fff;
}

.typewrite:hover {
  text-decoration: none;
}

.title {
  font-weight: 600;
  padding: 50px 0 30px;
  text-align: center;
}

.sub-title {
  font-size: 30px;
  font-weight: 350;
}

.words {
  font-family: 'Poppins Light 300', sans-serif;
  font-style: normal;
  font-weight: 680;
  padding: 0 0 40px;
  width: 50%;
  text-align: center;
  margin: auto;
  font-size: 1.75em;
}

.mac-pics {
    height: auto;
    width: auto;
    max-width: 700px;
    max-height: 700px;
    padding-bottom: 50px;
}

/* Projects  */

#website-project {
  background-color: #fad2e1;
  margin: auto;
  text-align: center;
  line-height: 1;
  color: white;
  font-family: 'Poppins', sans-serif;
  padding-bottom: 50px;
}

#stock-project {
  background-color: #cdeac0;
  margin: auto;
  text-align: center;
  line-height: 1;
  color: white;
  font-family: 'Poppins', sans-serif;
  padding-bottom: 50px;
}

/* Leadership and Activities */

#leadership {
  background-color: #efe9ae;
  color: black;
  margin: auto;
  line-height: 2.5;
  font-family: 'Poppins', sans-serif;
  width: 50%;
}


.row {
  margin-bottom: 60px;
}

/* Skills Cards */

#skills {
  background-color: #fec89a;
  margin: auto;
  text-align: center;
  line-height: 3;
  color: black;
  font-family: 'Poppins', sans-serif;
  padding-bottom: 50px;
}

* {
  box-sizing: border-box;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  /* max-width: 1140px; */
  max-width: 1340px;
  margin: 0 auto;
  justify-content: center;
}

.card {
  background-color: white;
  padding: 30px;
  width: 350px;
  margin: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.card::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 100%;
  }

.card h2 {
  margin: 0;
}

.card-blue::after {
  background-color: #efe9ae;
}

.card-red::after {
  background-color: #ff928b;
}

.card-green::after {
  background-color: #cdeac0;
}

.card-yellow::after {
  background-color: #ffac81;
}

.card-lower {
  transform: translateY(50%);
}


#contact-me {
  background: linear-gradient(-45deg, #cddafd 0%, #dfe7fd 14%, #bee1e6 28%, #e2ece9 42%, #fad2e1 56%, #fde2e4 70%, #eae4e9 100%);;
  /* background: linear-gradient(-45deg, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%);; */
  background-size: 400% 400%;
  animation: animation 7.5s ease-in-out infinite;
  color: white;
  margin: auto;
  text-align: center;
  line-height: 3;
  font-family: 'Poppins', sans-serif;
  padding-bottom: 50px;
}

@keyframes animation{
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
  }
}

.mail-pic {
  height: auto;
  width: auto;
  max-width: 500px;
  max-height: 500px;
  padding-bottom: 50px;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(266deg) brightness(105%) contrast(105%);
}

/* Footer  */
.footer-icon {
  padding: 10px;
  margin: 0;
  color: white;
}


/* button */
/* make button fixed when in a smaller sized screen */

.code-button {
  color: black;
  background-color: #cddafd;
  margin: auto;
  display: block;
  width: 15%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  justify-content: center;
}

.code-button:hover {
  color: black;
  text-decoration: none;
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white; }
}

.leadership-description {
  margin-top: -10px;
}

.industry-paragraph {
  line-height: 2.3;
}
